
.restaurant__card {
    .res__featuredimg {
        width: 100%;
        min-height: 172px;
        max-width: 370px;
        background-color: #E7E7E7;
    }
    .res__meta {
        .res__meta-left {}
        .res__meta-right {}

    }
}



